.bg{
  background-image: url("./assets/pncbg.png");
  background-size: cover;
  height: 100%;
  width: 1920px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.sidebar-menu{
  margin-left: 0px;
}

.sidebar-menu-header{
  background-color: #71A872;
  color: #71A872;
}

.sidebar-menu-header .sidebar-menu-brand{
  color: white;
}

.sidebar-menu-nav-title{
  color: black;
}

.sidebar-menu-nav-link{
  text-decoration: none;
}

.sidebar-menu-toggle{
  border: none;
}

.input{
  width: 500px;
  height: 63px;
}

.card {
  padding: 4em;
  border-radius: 20px;
}

.logo{
  width: 15rem;
}
