#root{
  max-height: 1080px;
}

.bg{
  background-image: url("./assets/pncbg.png");
  background-size: cover;
  height: 100%;
  width: 1920px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.sidebar-menu{
  margin: 0px;
  padding: 0px;
  position: fixed;
  height: 100%;
}

/* Full Calendar Styles [START]*/
button.fc-Legend-button.fc-button.fc-button-primary {
  color: black;
  background-color: rgba(255, 255, 255, 0);
  font-weight: bold;
}

button.fc-Extension-button.fc-button.fc-button-primary {
  background-color: #D2CC3F;
  font-weight: bold;
  border-radius: 10%;
}

button.fc-Service-button.fc-button.fc-button-primary {
  font-weight: bold;
}


.fc .fc-daygrid-day-number , .fc .fc-col-header-cell-cushion{
  color: #71A872;
}

.fc .fc-button-primary,.fc  .fc-button-primary:disabled{
  background-color: #71A872;
  border: 0px;
}

.fc .fc-button-primary:hover{
  background-color: #446445;
}
/* Full Calendar Styles [END]*/

.sidebar-menu-header {
  background-color: #71A872;
  color: #71A872;
  padding: 1em;
}

.sidebar-menu-header .sidebar-menu-brand {
  color: white;
}

.sidebar-menu-nav {
  margin-left: 2em;
  margin-top: 1em;
}

.sidebar-menu-nav-title {
  color: black;
  padding: 10px;
}

.sidebar-menu-nav-link {
  text-decoration: none;
}

.sidebar-menu-toggle {
  border: none;
}

.sidebar-menu-sub-toggle {
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  margin: 10px 0px 10px 0px;
  padding: 0px;
}

.input {
  width: 500px;
  height: 63px;
}

.card {
  padding: 1em;
  border: none !important;
}

.logo {
  width: 19rem;
}

.text-sm{
  font-size: small;
  font-style: italic;
  font-weight: bold;
  color: gray;
}

.mainBtn{
  padding: 5em;
}

.proposalForm{
 border-style: solid;
 border-width: 2px;
 padding: 1rem;
 border-radius: 5px;
 box-shadow: 7px 7px 4px #888888;
 background-color: rgb(243, 243, 243);
}

#propHeader{
  background-color:#71A872;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px ;
}

#formbtn{
  box-shadow: 4px 4px 4px rgb(88, 88, 88);
}
