# Ignore Python bytecode
*.pyc
# Python bytecode
*.py[cod]
__pycache__/

# Ignore virtual environments
venv/
env/
.venv/

# Logs
*.log

# Django specific files
db.sqlite3
/static/
/media/
/celerybeat-schedule
*.pot
*.pyc

# Migrations
*/migrations/*.pyc
*/migrations/__pycache__/

# Django secret keys or environment-specific files
.env

# Ignore any other temp or build directories
build/

